<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>About Page</h3>
      <p>
        ようこそGamerLifeへ！ここはゲームの感想を投稿するサイトです。
        自分自身でプレイしたものの感想はもちろん
        自分以外の誰かがプレイしたゲームの投稿を感想にすることもできます。
        あなたが感じたゲームの感想を
        あなたの言葉で、誰かに伝えることで
        そのゲームに興味を持ってくれる人が増えるとうれしいですね！
        
        登録しなくとも感想を閲覧することができます。
        投稿をする際は会員登録が
      </p>
    </div>
  </div>
</div>
