<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>About Page</h3>
      <p>
        ようこそGamerLifeへ！ここはゲームの感想を投稿するサイトです。<br>
        自分自身でプレイしたものの感想はもちろん<br>
        自分以外の誰かがプレイしたゲームの投稿を感想にすることもできます。<br>
        あなたが感じたゲームの感想を<br>
        あなたの言葉で、このサイトを閲覧している誰かに伝えることで<br>
        そのゲームに興味を持ってくれる人が増えると嬉しいですね！<br>
        <br>
        会員登録をしなくとも感想を閲覧することができます。<br>
        投稿をする際は会員登録が必要になりますので、ぜひご利用ください。<br>
      </p>
    </div>
  </div>
</div>
